<head> 
    <link rel="stylesheet" href="/navbar.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap" rel="stylesheet">
</head>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <i class="bi bi-asterisk" id="iconeasterisco"></i>
    <a class="navbar-brand">CRUD FK</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        
        <a class="nav-link <%= currentPath === '/' ? 'active' : '' %>" href="/">Home</a>
        <a class="nav-link <%= currentPath.startsWith('/alunos') ? 'active' : '' %>" href="/alunos">Alunos</a>
        <a class="nav-link <%= currentPath.startsWith('/cursos') ? 'active' : '' %>" href="/cursos">Cursos</a>
      </div>
    </div>
  </div>
</nav>
